* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background: #92bde7;
	color: #485274;
	line-height: 1.6;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	padding: 1em;
}
